
* {
  transition: transform ease 2000ms;
}
body {
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#cube {
  transform-style: preserve-3d;
  transform-origin: 90px 90px -90px;
  transform: rotateX(-20deg) rotateY(-45deg);
  margin: 90px;
  width: 180px;
  height: 180px;
}
#cube:hover {
  transform: rotateX(-20deg) rotateY(405deg) ;
}
.pieces {
  transform-style: preserve-3d;
  margin: 0.2px;
  position: absolute;
}
.sides {
  width: 50px;
  height: 50px;
  border: 5px solid #000;
  transition: all ease 2000ms;
  position: absolute;
}
.upSide {
  transform: translate3d(0, -30px, -30px) rotateX(90deg);
  background: #ccc;
}
.leftSide {
  transform: translate3d(-30px,0, -30px) rotateY(90deg);
  background: #060;
}
.frontSide {
  background: #900;
}
.rigthSide {
  transform: translate3d(30px,0, -30px) rotateY(90deg);
  background: #009;
}
.backSide {
  transform: translateZ(-60px);
  background: #DB8E17;
}
.downSide {
  transform: translate3d(0, 30px, -30px) rotateX(90deg);
  background: #E2D517;
}
.blackSide {
  background: #000;
}
.piece1 {
  transform: translate3d(120px,0,0);
  transform-origin: -30px 90px -90px;
}
.piece2 {
  transform: translate3d(60px,0,0);
  transform-origin: 30px 90px -90px
}
.piece3 {
  transform: translate(0);
  transform-origin: 90px 90px -90px;
}
.piece4 {
  transform: translate3d(120px, 0, -60px);
  transform-origin: -30px 90px -30px;
}
.piece5 {
  transform: translate3d(60px,0, -60px);
  transform-origin: 30px 90px -30px;
}
.piece6 {
  transform: translate3d(0,0,-60px);
  transform-origin: 90px 90px -30px;
}
.piece7 {
  transform: translate3d(120px,0, -120px);
  transform-origin: -30px 90px 30px;
}
.piece8 {
  transform: translate3d(60px,0, -120px);
  transform-origin: 30px 90px 30px;
}
.piece9 {
  transform: translate3d(0,0,-120px);
  transform-origin: 90px 90px 30px;
}
.piece10 {
  transform: translate3d(120px, 60px,0);
  transform-origin: -30px 30px -90px;
}
.piece11 {
  transform: translate3d(60px, 60px,0);
  transform-origin: 30px 30px -90px;
}
.piece12 {
  transform: translate3d(0,60px,0);
  transform-origin: 90px 30px -90px;
}
.piece13 {
  transform: translate3d(120px, 60px, -60px);
  transform-origin: -30px 30px -30px;
}
.piece14 {
  transform: translate3d(60px, 60px, -60px);
  transform-origin: 30px 30px -30px;
}
.piece15 {
  transform: translate3d(0, 60px, -60px);
  transform-origin: 60px 30px -30px;
}
.piece16 {
  transform: translate3d(120px,60px, -120px);
  transform-origin: -30px 30px 30px;
}
.piece17 {
  transform: translate3d(60px, 60px, -120px);
  transform-origin: 30px 30px 30px;
}
.piece18 {
  transform: translate3d(0,60px, -120px);
  transform-origin: 90px 30px 30px;
}
.piece19 {
  transform: translate3d(120px, 120px,0);
  transform-origin: -30px -30px -90px;
}
.piece20 {
  transform: translate3d(60px, 120px,0);
  transform-origin: 30px -30px -90px;
}
.piece21 {
  transform: translate3d(0,120px,0);
  transform-origin: 90px -30px -90px;
}
.piece22 {
  transform: translate3d(120px, 120px, -60px);
  transform-origin: -30px -30px -30px;
}
.piece23 {
  transform: translate3d(60px, 120px, -60px);
  transform-origin: 30px -30px -30px;
}
.piece24 {
  transform: translate3d(0, 120px, -60px);
  transform-origin: 90px -30px -30px;
}
.piece25 {
  transform: translate3d(120px, 120px, -120px);
  transform-origin: -30px -30px 30px;
}
.piece26 {
  transform: translate3d(60px, 120px, -120px);
  transform-origin: 30px -30px 30px;
}
.piece27 {
  transform: translate3d(0, 120px, -120px);
  transform-origin: 90px -30px 30px;
}
.navigation td {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: auto;
}
.navigation td button {
  float: left;
}
.navigation .miniCube {
  border: 2px solid #000;
  background: #ccc;
}
/*
.pieces:not(.piece2,.piece3, .piece5, .piece6, .piece11, .piece12, .piece14, .piece15) {
  transition: all ease 2000ms;
}
#cube:hover .pieces{
  transform: translate3d(0,0,0);
}*/






